DATABASE_URL=postgresql://postgres:postgres@localhost:5432/bdw
DATABASE_URL_DEV=postgresql://postgres:postgres@localhost:5432/bdw_dev
DB_ENV=dev
DEV_AUTH_TOKEN=replace-with-dev-token
VITE_DEV_AUTH_TOKEN=replace-with-dev-token

SERVER_LOG_LEVEL=info
